html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.validation-summary-errors {
    border: 2px solid red;
    color: red;
    font-weight: bold;
    width: 30%
}
.valid {
    color: white;
    font-weight: bold;
    background-color: green;
}

.field-validation-error {
    color:red;
    font-weight: bold;
    background-color: yellow;
}
.input-validation-error {
    color:red;
    font-weight: bold;
    background-color: deeppink;
}




