@page "/creation-drone ";

@using suivi_des_drones.web.UI.Pages

@model CreateDroneModel
@{
}
<h1>Ajout d'un nouveau drone</h1>

<form method="get" action="">
    <input name="matricule" />
    <input name="dateCreation" />
    <button>Créer</button>

</form>

