@page "/Login"
@model suivi_des_drones.web.UI.Pages.LoginModel
@{
}

<form method="post">
    <label>Login</label>
    <input asp-for="User.Login"/>
    <label>Mot de passe</label>
    <input asp-for="User.Password"/>
    <button>Connectez-vous</button>

</form>